BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
UseTab: Never
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
InsertBraces: true
PointerAlignment: Right
DerivePointerAlignment: false
SeparateDefinitionBlocks: Always
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"platform.h"$'
    Priority: 0
  - Regex: '^"'
    Priority: 1
  - Regex: '^<'
    Priority: 2
